@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
body{
    font-family:'Joan',cursive;
    font-weight: bold;
}
.container{
    text-align: center;
    max-width: 95%;
}
.hex-header-one{
    margin-top: 70px;
}
.hex-header-two{
    margin-top: 50px;
}
.btns{
    align-items: center;
    display: flex;
   
    flex-direction: column;
}
.btn{
    margin-top: 50px;
    width: 400px;
    min-height: 100px;
    background-color:blue;
    padding: 22px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}